<nav class="navbar  navbar-dark bg-primary">
   <a class="navbar-brand" href="/">Angular Simple</a>

</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <!--Se crea una directiva de angular para recorrer el arreglo-->
      <li 
      *ngFor="let info of infoArray"
      class="list-group-item list-group-item-action">
      <!--genera un efecto de sombreado al hacer hover sobre los elementos de la lista-->
      <span class="badge badge-primary">{{info.id}}</span>  {{info.nombre}} - {{info.cedula}}
      </li>
       
      </ul>

    <div class="card mt-4">
      <div class="card-body">
      <div class="card-title">
      Inserte la Info
      </div>
</div>
</div>
  </div>
</div>
</div>
 