<nav class="navbar  navbar-dark bg-primary">
   <a class="navbar-brand" href="/">Angular Simple</a>

</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
      <li 
      *ngFor="let info of infoArray"
      class="list-group-item">
      {{info.nombre}}
      </li>
       
      </ul>

    <div class="card mt-4">
      <div class="card-body">
      <div class="card-title">
      Inserte la Info
      </div>
</div>
</div>
  </div>
</div>
</div>
 